<div class="container sheet">
  <cv-header>
    <p class="first-line">{{ data.firstLine }}</p>
    <h1 class="name">{{ data.name }}</h1>
    <h4 class="title">{{ data.title }}</h4>
  </cv-header>
  <div class="row header-row pb-4 pt-2">
    <cv-box-zone>
      <i class="fa fa-map-marker icon"></i>
      <span class="text mt-2">{{ data.location }}</span>
    </cv-box-zone>
    <cv-box-zone>
      <i class="fa fa-envelope icon"></i>
      <a href="https://alexsaez.net/contact" class="text mt-2" target="_blank"
        >alexsaez.net/contact</a
      >
    </cv-box-zone>
    <cv-box-zone>
      <i class="fab fa-chrome icon"></i>
      <a
        href="https://protecno.io/authors/alex-saez/"
        class="text mt-2"
        target="_blank"
        >protecno.io/authors/alex-saez/</a
      >
    </cv-box-zone>
    <cv-box-zone>
      <i class="fab fa-linkedin icon"></i>
      <a
        href="https://linkedin.com/in/alexsaez"
        class="text mt-2"
        target="_blank"
        >LinkedIn</a
      >
    </cv-box-zone>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 text-center">
      <cv-profile-pic src="assets/alex_profile.png"> </cv-profile-pic>
    </div>
    <div class="col-md-9">
      <cv-item-list [list]="data.brief"></cv-item-list>
    </div>
  </div>
  <div class="row mt-4">
    <cv-section-header-container class="col-md-3 border-right">
      <cv-section-header>Skills</cv-section-header>
    </cv-section-header-container>
    <cv-section-header-container class="col-md-9">
      <cv-section-header>Work Experience</cv-section-header>
    </cv-section-header-container>
  </div>
  <div class="row mt-3 secondary-section">
    <div class="col-md-3 border-right">
      <cv-item-list [list]="data.skills"></cv-item-list>
      <cv-section-header-container class="mt-5">
        <cv-section-header
          >Education</cv-section-header
        > </cv-section-header-container
      ><!--
      <cv-item-list
        [list]="data.education"
        [itemTemplate]="itemTemplate"
      ></cv-item-list>
      <ng-template #itemTemplate>
        <li *ngFor="let item of list">item.description</li>
      </ng-template>
      -->
      <ul>
        <li>
          <p class="mb-0 extra-info">From 2001 to 2006</p>
          Highschool - Completed
        </li>
        <li>
          <p class="mb-0 extra-info">From 2007</p>
          Information Systems Engineer - In progress
        </li>
        <li>
          <p class="mb-0 extra-info">From 2007</p>
          More than 30 courses from
          <a href="https://pluralsight.com" target="_blank">Pluralsight</a> and
          books from
          <a href="https://safaribooksonline.com">O'Reilly Safari</a> and
          several other sources
        </li>
      </ul>

      <cv-section-header-container class="mt-5">
        <cv-section-header>Languages</cv-section-header>
      </cv-section-header-container>

      <cv-item-list [list]="data.languages"></cv-item-list>
    </div>
    <div class="col-md-9 pl-4 main-section">
      <ng-container *ngFor="let exp of data.experience">
        <h4>{{ exp.title }}</h4>
        <h5>{{ exp.company }}</h5>
        <span class="extra-info">{{ exp.timeframe }}</span>
        <cv-item-list [list]="exp.items" [links]="exp.links"></cv-item-list>
      </ng-container>
    </div>
  </div>
</div>
